name: ESLint

on:
  push:
    branches:
      - '**'  # This will run on all branches
  pull_request:
    branches:
      - '**'  # This will run on pull requests to all branches

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npx eslint .
        continue-on-error: true

      - name: Upload ESLint results
        uses: actions/upload-artifact@v3
        with:
          name: eslint-results
          path: eslint-results.sarif
        if: always()
