name: ESLint

on:
  push:
    branches:
      - '**'  # This will run on all branches
  pull_request:
    branches:
      - '**'  # This will run on pull requests to all branches
  workflow_call:
    # Define any inputs or secrets if needed
    # inputs:
    #   example_input:
    #     required: true
    #     type: string
    # secrets:
    #   example_secret:
    #     required: true

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'


      - name: Install dependencies
        run: cd frontend && npm ci
        continue-on-error: true

      - name: Upload ESLint results
        uses: actions/upload-artifact@v3
        with:
          name: eslint-results
          path: eslint-results.sarif
        if: always()
